src/node-red-iRacing-Flow.txt
[{ "id": "206792d4.15c3be", "type": "tab", "label": "iRacing", "disabled": false, "info": "" }, { "id": "d71a8c43.b7ce1", "type": "http in", "z": "206792d4.15c3be", "name": "iRacing", "url": "/iracing", "method": "post", "upload": false, "swaggerDoc": "", "x": 100, "y": 60, "wires": [["476ab023.2033", "3e45a5ee.16057a"]] }, { "id": "476ab023.2033", "type": "http response", "z": "206792d4.15c3be", "name": "Accepted", "statusCode": "201", "headers": {}, "x": 260, "y": 60, "wires": [] }, { "id": "cd637e20.d02fe", "type": "api-call-service", "z": "206792d4.15c3be", "name": "Change Lights", "server": "fe4f7571.169498", "version": 1, "service_domain": "light", "service": "turn_on", "entityId": "light.iRacing", "data": "", "dataType": "json", "mergecontext": "", "output_location": "", "output_location_type": "none", "mustacheAltTags": false, "x": 640, "y": 140, "wires": [["228b3c69.82f0fc"]] }, { "id": "3e45a5ee.16057a", "type": "function", "z": "206792d4.15c3be", "name": "Set lights", "func": "var flag_lookup = {\n    \"yellow\" : {\n        \"rgb_color\" : [128,100,0],\n        \"flash\": \"short\",\n        \"priority\" : 50\n    },\n    \"checkered\" : {\n        \"effect\":\"colorloop\",\n        \"priority\":1\n    },\n    \"white\" : {\n        \"color_name\":\"white\",\n        \"priority\":70\n    },\n    \"green\" : {\n        \"color_name\":\"green\",\n        \"priority\":120\n    },\n    \"red\" : {\n        \"color_name\":\"red\",\n        \"priority\":40\n    },\n    \"blue\" : {\n        \"color_name\":\"blue\",\n        \"priority\":60\n    },\n    \"debris\" : {\n        \"color_name\":\"yellow\",\n        \"priority\":51\n    },\n    \"crossed\" : {\n        \"color_name\":\"red\",\n        \"priority\":30\n    },\n    \"yellowwaving\" : {\n        \"color_name\":\"yellow\",\n        \"flash\":\"long\",\n        \"priority\":52\n    },\n    \"onelaptogreen\" : {\n        \"color_name\":\"green\",\n        \"flash\":\"long\",\n        \"priority\":100\n    },\n    \"greenheld\" : {\n        \"color_name\":\"green\",\n        \"flash\":\"short\",\n        \"priority\":110\n    },\n    \"tentogo\" : {\n        \"color_name\":\"green\",\n        \"flash\":\"short\",\n        \"priority\":140\n    },\n    \"fivetogo\" : {\n        \"color_name\":\"green\",\n        \"flash\":\"short\",\n        \"priority\":130\n    },\n    \"randomwaving\" : {\n        \"effect\":\"colorloop\",\n        \"priority\":1\n    },\n    \"caution\" : {\n        \"color_name\":\"yellow\",\n        \"priority\":55\n    },\n    \"cautionwaving\" : {\n        \"color_name\":\"yellow\",\n        \"flash\": \"long\",\n        \"priority\":53\n    },\n    \"black\" : {\n        \"color_name\":\"red\",\n        \"flash\":\"short\",\n        \"priority\":3\n    },\n    \"disqualify\" : {\n        \"color_name\":\"red\",\n        \"flash\":\"long\",\n        \"priority\":2\n    },\n    \"servicible\" : {\n        \"color_name\":\"green\",\n        \"flash\":\"short\",\n        \"priority\":1000\n    },\n    \"furled\" : {\n        \"color_name\":\"orange\",\n        \"flash\":\"short\",\n        \"priority\":900\n    },\n    \"repair\" : {\n        \"color_name\":\"orange\",\n        \"flash\":\"long\",\n        \"priority\":4\n    },\n    \"startHidden\" : {\n        \"color_name\":\"white\",\n        \"priority\":800\n    },\n    \"startready\" : {\n        \"color_name\":\"orange\",\n        \"priority\":33\n    },\n    \"startset\" : {\n        \"color_name\":\"red\",\n        \"priority\":32\n    },\n    \"startgo\" : {\n        \"color_name\":\"green\",\n        \"priority\":31\n    }\n}\n\nif(!msg.payload.flags || msg.payload.flags.length <=0){\n    return [null, msg]\n}\n\nvar actions = msg.payload.flags.map((e) => flag_lookup[e.toLowerCase()]);\nvar service_data = actions.reduce((acc, curr) => {\n    if(!!curr && curr.priority < acc.priority){\n        return curr\n    }\n    return acc\n}, {\"priority\": 999})\n\ndelete service_data[\"priority\"]\nservice_data[\"brightness\"] = 255\n\nmsg.payload.data = service_data\nreturn [msg, null];", "outputs": 2, "noerr": 0, "x": 260, "y": 140, "wires": [["1d88b23c.7225de"], ["a1ec6e97.702248"]] }, { "id": "228b3c69.82f0fc", "type": "delay", "z": "206792d4.15c3be", "name": "", "pauseType": "delay", "timeout": "15", "timeoutUnits": "seconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 660, "y": 220, "wires": [["69ccd0a1.a88e38"]] }, { "id": "ffebb55.98fa748", "type": "api-call-service", "z": "206792d4.15c3be", "name": "Dim Lights", "server": "fe4f7571.169498", "version": 1, "service_domain": "light", "service": "turn_on", "entityId": "light.iRacing", "data": "{\"brightness\": 64}", "dataType": "json", "mergecontext": "", "output_location": "", "output_location_type": "none", "mustacheAltTags": false, "x": 930, "y": 280, "wires": [[]] }, { "id": "69ccd0a1.a88e38", "type": "change", "z": "206792d4.15c3be", "name": "Reset Payload", "rules": [{ "t": "delete", "p": "payload.data", "pt": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 740, "y": 280, "wires": [["ffebb55.98fa748"]] }, { "id": "1d88b23c.7225de", "type": "rbe", "z": "206792d4.15c3be", "name": "", "func": "rbei", "gap": "", "start": "", "inout": "out", "property": "payload", "x": 470, "y": 140, "wires": [["cd637e20.d02fe"]] }, { "id": "d36f9b3b.2f33d", "type": "api-call-service", "z": "206792d4.15c3be", "name": "Turn Lights Off", "server": "fe4f7571.169498", "version": 1, "service_domain": "light", "service": "turn_off", "entityId": "light.iRacing", "data": "", "dataType": "json", "mergecontext": "", "output_location": "", "output_location_type": "none", "mustacheAltTags": false, "x": 420, "y": 280, "wires": [[]] }, { "id": "a1ec6e97.702248", "type": "rbe", "z": "206792d4.15c3be", "name": "", "func": "rbe", "gap": "", "start": "", "inout": "out", "property": "payload", "x": 250, "y": 280, "wires": [["d36f9b3b.2f33d"]] }, { "id": "fe4f7571.169498", "type": "server", "z": "", "name": "Home Assistant", "legacy": false, "hassio": false, "rejectUnauthorizedCerts": true, "ha_boolean": "y|yes|true|on|home|open", "connectionDelay": true }]